
/* import font */

@font-face {
    font-family: 'petr_fontregular';
    src: url('petr-font/Dokdo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1{
    font-family: 'petr_fontregular';
    color: blue;
}

p{
    color: green;
    font-family: cursive;
    font-size: large;
}

.icon{
    height: 120px;
}

button{
    border: none;
}

.location{
    height: 180px;
    width: 160px;
}

html {
    height: 100%;
    width: 100%;
}

body{
    /*background-image: url('https://i.ibb.co/JHLXmYq/bg-title.gif');
    background-repeat: no-repeat;
    background-size: cover;*/
    height: 100%;
    width: 100%; 
    margin: 0px;
    /* display: block; */
 }

 .background {
    position: absolute;
    top: 0;
    left: 0;

    width:100%;
    height:100%;
 }

 .content {
    position: relative;
 }

 .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 40%;
 }

 #countdown {
    position: absolute;
    font-size: 75px;
    color: purple;
    right: 60px;
    top: 0px;
  }
  #finish {
    position: absolute;
    font-size: 150px;
    bottom: 10%;
    right: 3%;
    top: 0px;
    padding: 30px 60px;
  }

  button {
    font-size: 25px;
    width:140px;
    height:60px;
    color: white;
    background-color: rgb(11, 123, 11);
    font-family: 'petr_fontregular';
  }

  #bw {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    width: 160px;
    left: 70%;
    top: 60%;
  }

  #eh {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    width: 160px;
    left: 80%;
    top: 30%;
  }

  #fp {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    width: 160px;
    left: 45%;
    top: 70%;
  }

  #ll {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    width: 120px;
    left: 25%;
    top: 60%;
  }

  #homepage {
    position: absolute;
    height: 40%;
    width: 30%;
    left: 32%;
    top: 50%;
  }

  #hometext {
    position:absolute;
    height: 30%;
    width: 60%;
    left: 20%;
    top: 20%;
  }

  #comp {
    position: absolute;
    left: 20%;
    right: 50%;
    font-size: 30px;
  }

  #roll{
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 40%;
  }