
/* import font */

@font-face {
    font-family: 'petr_fontregular';
    src: url('petr-font/Dokdo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1{
    font-family: 'petr_fontregular';
    color: blue;
}

p{
    color: green;
    font-family: cursive;
    font-size: large;
}

.icon{
    height: 25px;
}

button{
    border: none
}

.location{
    height: 50px
}

/* body#rr_body{
    background-image: url('/images/bg_title.gif');
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
    width: 100%; */
    /* display: block; */
/* } */